
.NormalGamePage{
    background-image: url('../../assets/images/generic-background1.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    width: 100vw;
    
}


.board-title{
    /* display: center; */
    font-weight: 750;
}

.container{
    padding: 20px;
}

.win-title {
    color: blue;
}

.lost-title {
    color: red;
}

