
.square {
    height: 40;
    width: 40;
    margin: 2px;
    outline: 2px solid black;
    transition: transform .2s; 
    font-family: 'Franklin Gothic Medium';
    font-size: xx-large;
}


.square:hover{
    transform: scale(1.2); 
}

/* if a ship square is hit */
#lightGreenSquare {
    background-color: #a7c957;
    height: 40px;
    width: 40px;
    align-items: center;
    display: flex;
    justify-content: center;
}

/* If a ship is sunk */
#darkGreenSquare {
    background-color: darkGreen;

    height: 40px;
    width: 40px;
    align-items: center;
    display: flex;
    justify-content: center;
}

/* If try to click again */
#redSquare {
    background-color: red;

    height: 40px;
    width: 40px;
    align-items: center;
    display: flex;
    justify-content: center;
}
/* default square color */
#lightBlueSquare {
    background-color: #90e0ef;

    height: 40px;
    width: 40px;
    align-items: center;
    display: flex;
    justify-content: center;
}

/* if it is a miss */
#darkBlueSquare {
     background-color: #0096c7;

    height: 40px;
    width: 40px;
    align-items: center;
    display: flex;
    justify-content: center;
}

.blackBorder {
    border: 1px solid black;
}

.whiteBorder {
    border: 1px solid white;
}