/* .start-btn{
    margin-left: 40%;
    align-self: center;
    display: flex;
    justify-content: center;  
} */

.FreeGamePage{
    background-image: url('../../assets/images/generic-background1.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    
}

.container{
    padding: 20px;
}
/* 
.reset-btn{
    margin: 10px;
    align-self: center;
    display: flex;
    justify-content: center;
} */