.FreeGamePage{
    background-image: url('../../assets/images/generic-background1.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    width: 100vw;
    
}

.container{
    padding: 20px;
}
