.logo{
    margin-left: 10px;
}

.hamburger{
    margin-right: 10px;
}

.nav-item a:active{
    color: yellow;
    /* margin-left: 20px; */
    transition-duration: 0.2s;
        
}

.nav-item:hover{
    background-color: rgb(14, 14, 157);
    margin-left: 20px;
        
}
